* {
  border: 1px solid red;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*------------------------------Mix------------------------*/
.opacity {
  transition-duration: 0.2s;
}

.opacity:hover {
  opacity: 0.5;
}

.rotate-360 {
  animation: rotate linear 20s infinite;
}


/*-------------------------------Header----------------------------*/


/*----------------------Description-------------------------*/





/*-------------------------Techniques--------------------------*/











/*-------------------------Video------------------*/







/*-------------------------Oakley-------------------------*/



/*------------------------------Feynman------------------------*/








/*-------------------------Digits--------------------------*/









/*----------------------------Khan------------------------*/




/*----------------------------Kaufman------------------------*/





/* и элемента с модификатором вида ключ-значение */







/*---------------------------Resources---------------------*/







/*---------------------------Footer---------------------*/




















